<nav class="navbar navbar-expand-lg" style="background-color: #cd3bed;">
<a class="navbar-brand" href="#">Navbar</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
  </li>
  <% if user_signed_in? %>
  <div class="btn-group dropright">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Product
  </button>
  <div class="dropdown-menu">
      <%= link_to 'View products' , products_path , class:"dropdown-item" %>
    <%= link_to 'Create product' , new_product_path , class:"dropdown-item" %>
  </div>
</div>
<%end%>

</ul>

<ul class="navbar-nav ml-auto">
<% if !user_signed_in? %>

  <li class="nav-item " >
    <%= link_to 'Sign up' ,new_user_registration_path,class:"btn btn-success " %>
  </li>

  <li class="nav-item ">
    <%= link_to 'Sign in' ,user_session_path,class:"btn btn-success " %>
  </li>


<% end %>

<% if user_signed_in?  %>

  <li class="nav-item" >
    <%= link_to 'Log out', destroy_user_session_path,method: :delete , class:"btn btn-light" %>
  </li>

<% end %>


</ul>

</div>
</nav>
